.bg-body-tertiary {
    background-color: #FFFFFF !important;
    box-shadow: 0 0 10px #6D6D6D;
    margin-bottom: 30px;
}

.navbar {

    .navbar-brand {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }

    .navbar-toogler {
        background-color: black;
    }

    .nav-link {
        color: black;
    }

    .nav-link:hover {
        color: rgb(129, 129, 129);
    }

    .active {
        color: #F25218 !important;
    }

    .navbar-nav .nav-link.show {
        color: rgb(0, 38, 255);
    }

    .logo {
        width: 150px;
        height: auto;
    }
}

.btn {
    border-radius: 10px;
    color: black;
}

.btn-warning {
    background-color: #F45B25;
    border: 0;

    &:hover {
        background-color: #ff956e;
        color: #2C2C2C;
    }
}

.row {
    .col {
        border: 1px solid #333;
    }
}

body {
    background-color: #e7e7e7;
}

.active {
    width: 100%;
}